$app-background-color: #c2c2d6;
$screen-result-color: orange;
$screen-current-color: #fff;
$AC-button-color: rgb(172, 57, 57);
$number-button-color: #4d4d4d;
$operation-button-color: rgb(102, 102, 102);
$equal-button-color: rgb(0, 68, 102);
