.calculator {
  width: 40rem;
  max-width: 90vw;
  margin: auto;
  background-color: black;
  padding: 0.5rem;
  border-radius: 0.8rem;
  margin-top: 50vh;
  transform: translateY(-50%);
  overflow: hidden;
}
