.keyboard {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(8rem, auto);

  grid-template-areas:
    "AC AC divided multiply"
    "num7 num8 num9 minus"
    "num4 num5 num6 plus"
    "num1 num2 num3 equal"
    "num0 num0 dot equal";
}
